.course-view__container {
    width: 100%;
    padding: 0 20px;

    .course-view__course-name {
        font-size: 3rem;
        font-weight: bold;
    }

    .section-name-button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        .section-name-button__arrow {
            pointer-events: none;
            img{
                width: 30px;
                margin-top: 5px;
                filter: invert(100%) sepia(0%) saturate(6274%) hue-rotate(142deg) brightness(100%) contrast(111%);
                transform: rotateZ(-90deg);
                transition: all 100ms linear;
                pointer-events: none;
                &.rotate {
                    transform: rotateZ(0);
                    pointer-events: none;
                }
            }
        }
    }

    .course-view__section-name {
        font-size: 2rem;
        font-weight: bold;
        margin: 20px 0;
        pointer-events: none;
    }

    .course-view__section-divider {
        width: 100%;
        height: 3px;
        background: #fff;
        margin: 20px 0;
    }

    .course-view__course-weekly-windows-contianer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;

        .course-view__course-weekly-window {
            border: 1px solid #fff;
            border-radius: 10px;
            width: 150px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;

            .course-view__course-weekly-window__day,
            .course-view__course-weekly-window__time {
                font-size: 1.2rem;
            }
        }

    }

    .course-view__expandable-content{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: space-evenly;
        &.show {
            display: flex;
        }
    }
}