.page-main {
    height: calc(100vh - $page-header-height - $page-footer-height);
    margin-top: $page-header-height;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &.dashboard {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

