//Colors
$gray-dark: #1e1e1e;
$gray-medium: #2d2d2d;
$gray-light: #323232;
$gray-very-light: #858585;
$error-red: #ff8a8a;

//Page-parts-colors
$page-banners-background-color: $gray-light;
$page-background-color: $gray-dark;
$text-color-default: #fff;

//fonts
$text-font-family-default: 'Roboto', sans-serif;
$text-font-family-logo: 'Mochiy Pop One', sans-serif;

//sizes
$page-header-height: 5rem;
$page-footer-height: 3rem;